# Dependency directories
node_modules/
.next/
out/

# Build files
dist/
build/

# Environment variables
.env*.local
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local development files
.DS_Store
*.swp
*.swo

# IDE/Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

